input[type=submit] {
    margin-left: auto;
    padding: 0.5 rem;
    border-radius: 5px;
    background-color: #5ed7fc;
    color: white;
    font-size: 1em;
    font-weight: bolder;
    border: 2px solid #4dc7ec; 
    cursor: pointer;
    width: 25%; 
}

input[type=submit]:hover {
    color: #0beff7;
    background-color: #bcfafa99;

}

img {
    max-width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}


input[type=text] {
    border:1px solid #07d1f5; 
    border-radius: 5px;
    width: 55%;
    font-size: 18px;
    padding: 3px 15px;
    margin-bottom: 5px;
}

input[type=email] {
    border:1px solid #0cd5f8; 
    border-radius: 5px;
    width: 55%;
    font-size: 18px;
    padding: 3px 15px;
    margin-bottom: 5px;
}

input[type=password] {
    border:1px solid #6ef0e5; 
    border-radius: 5px;
    width: 55%;
    font-size: 18px;
    padding: 3px 15px;
}

label {
    margin-bottom: 10px;
}

::placeholder {
    color:    hwb(95 2% 88%);
 }

.logout-button {
    margin-left: auto;
    padding: 0.5 rem;
    border-radius: 5px;
    background-color: #6cebda;
    color: white;
    font-size: 1em;
    font-weight: bolder;
    border: 2px solid #74f5e4; 
    cursor: pointer;
    width: 25%; 
}

.logout-button:hover {
    color: #6df5ee;
    background-color: #7e757599;
}
