body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #d9edc3;
}

h2 {
    color: #6dd9e0;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
button {
    margin-left: auto;
    padding: 0.5 rem;
    background-color: #96f5f8;
    color: white;
    font-size: 1em;
    font-weight: bolder;
    border: 2px solid #98e8eb; 
    cursor: pointer;
    float: center;
    width: 25%;
}




.App {
    margin-left: auto;
    margin-right: auto;
    padding: 2.5rem 1rem;
    max-width: 600px;
}


.shopping-item {
    background: #33c6f399;
    border: blue solid 0.1rem;
    border-bottom: none;
    padding: 0.25rem 1rem 0.25rem 0.25rem;
    display: flex;
}

.shopping-item-title {
    font-weight: bolder;
    font-size: 1.3em;
    color: #62d1ec;
  }
  
.shopping-cat {
  
    padding: 0.5 rem;
    border-radius: 0.5 rem;
    color: grey;
    font-size: 0.8em;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    padding: 0.25rem 1rem 0.25rem 0.25rem;
}
  
  .delete-button {
    margin-left: auto;
    padding: 0.5 rem;
    border-radius: 6px;
    background-color: #62dff5;
    color: white;
    font-size: 1em;
    font-weight: bolder;
    border: 2px solid #5bcfdf; 
    cursor: pointer;
    width: 5%;       
}
    
.delete-button:hover {
    color:  #77dbdf;
    background-color: #ffffff99;
    border: 2px solid #79d9e0; 
}

.add-item-button {
    color:  #68d4e7;
}
  
select {
    width: 79%;
    font-size: 17px;
    padding: 3px 5px;
    border-radius: 5px;
    border:1px solid #55c6ca; 
    
}

input[type=text] {
    border:1px solid #63d8d2; 
    border-radius: 5px;
    width: 85%;
    font-size: 17px;
    padding: 3px 15px;
}

input[type=submit] {
    margin-left: auto;
    padding: 0.5 rem;
    border-radius: 5px;
    background-color: #8cd6db;
    color: white;
    font-size: 0.9em;
    font-weight: bolder;
    border: 2px solid #7acfe9; 
    cursor: pointer;
    width: 25%; 
}


.new-shopping-item-form {
    display:grid;
    text-align:right;
    grid-row-gap: 10px;
}
